#blocker {
  width: 100%;
  height: 100%;
  z-index: 1000000;
  top: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  transition: transform 2s ease;
  overflow: hidden;
}

#entry {
  width: 50%;
  max-height: 75%;
  z-index 10000000000;
  margin: 20px auto;
  padding: 20px 0;
  border-radius: 25px;
  background-color: white;
  text-align: center;
}

#entry textarea {
  margin: 10px 0;
}
